body {
  background: #f8f6ff !important;
}

.container {
  grid-template-rows: 159px 1fr 80px 80px;

  @media (min-width: 992px) {
    grid-template-rows: 1fr 1fr 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.profile-container {
  /* Layout */
  flex-direction: column;
  padding-top: 48px;
  gap: 24px;

  /* Typography */
  text-align: center;

  @media (min-width: 992px) {
    /* Layout */
    padding-top: unset;
    gap: 48px;
    justify-content: flex-end;

    /* Typography */
    text-align: unset;
  }
}

.controls-container {
  grid-row: 4/5;
  gap: 28px;
  justify-content: center;

  @media (min-width: 992px) {
    grid-row: 2/3;
    padding-top: 53px;
    justify-content: unset;
  }
}

.screenshot-container {
  padding: 1rem;
  gap: 24px;

  @media (min-width: 992px) {
    grid-row: 1/3;
    grid-column: 2/3;
    padding: unset;
    justify-content: center;
    align-items: center;
  }
}

.footer-container {
  grid-row: 3/4;
  @media (min-width: 992px) {
    grid-column: 1/3;
  }
}
