/*

 Soft Button

 Designed by 鐘柏倫 (Cenlun Chung Po Lun) (https://ccpl17.github.io/)
 Date : 2023-10-05

*/

.soft-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: 1s cubic-bezier(0, 1, 0, 1);

  /* Layout */
  display: flex;
  padding: 17px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* Style */
  border-radius: 8px;
  border-width: 0;
  background: #fff;
  box-shadow: 3px 3px 17px 0 #17000040;

  /* Typography */
  color: #171717;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.17px;
  text-decoration: none;

  &:hover {
    scale: 1.03;
  }

  &:active {
    scale: 0.97;

    /* Style */
    box-shadow: 3px 3px 17px 0 #17000080;
  }
}
